@font-face {
  font-family: 'LT Perfume';
  src: url('LTPerfume-Regular.woff2') format('woff2'),
       url('LTPerfume-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

/* ===== Fundo da página ===== */
body {
    font-family: 'Georgia', serif;
    background-color: #f6f5ef;
}

/* ===== Envelope ===== */
/*.envelope-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	opacity: 1;
    transition: opacity 0.6s ease;
}*/
.envelope-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	opacity: 1;
    transition: opacity 0.6s ease;
}


.envelope-wrapper.esconder {
    opacity: 0;
}

.envelope {
    width: 420px;
    height: 370px;
    cursor: pointer;
    position: relative;
}

/* ===== Lacre sobre envelope ===== */
.lacre {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 54%; /* ajuste fino conforme a imagem */
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: url('lacre.png') no-repeat center/cover;
}

.lacre::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 0; left: 0;
    animation: pulse 2.5s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255,215,120,0.5); }
    70% { box-shadow: 0 0 0 18px rgba(255,215,120,0); }
    100% { box-shadow: 0 0 0 0 rgba(255,215,120,0); }
}

/* ===== Convite ===== */
.convite {
    display: none;
    max-width: 760px;
    margin: 30px auto;
    //background: url('textura-papel.png');
	background-image: url('convite-desktop.png'); /* DESKTOP/TABLET */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 50px;
    border-radius: 14px;
    text-align: center;
    position: relative;
    box-shadow: 0 12px 40px rgba(0,0,0,0.12);
    overflow: hidden;
    color: #333;
	
	opacity: 0;
    transition: opacity 0.8s ease;
}

.convite.mostrar {
    opacity: 1;
}

/* ===== Texto ===== */
.frase { font-style: italic; margin-bottom: 25px; font-size: 17px; }
.nomes {
    font-family: 'LT Perfume';
    font-size: 75px;
    background: linear-gradient(45deg, #c9a14a, #f5e29c, #b88a2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px 0 15px;
	transform: translateX(-10px);
}
.texto { font-size: 17px; margin-bottom: 28px; }
.data { font-size: 35px; font-weight: bold; }
.hora { font-size: 23px; font-style: italic; margin-bottom: 25px; }
.local { font-size: 18px; margin-bottom: 25px; }
.pequeno {font-size: 17px; margin-bottom: 28px; }

/* ===== Botões ===== */
.botoes button {
    margin: 10px;
    padding: 13px 28px;
    background: #6b8f71;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
	font-size:15px;
}
.botoes button:hover { background: #557a5e; }

/* ===== Rodapé ===== */
.rodape { 
	margin-top: 30px; 
	font-size: 15px; 
	color: #666; 
}

/* ===== Modais ===== */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}
.modal-content {
    background: white;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    width: 320px;
}
.modal-content a {
    display: block;
    margin: 10px 0;
    padding: 12px;
    background: #6b8f71;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}
.modal-content .fechar {
    margin: 15px auto 0;
    padding: 10px 26px;
    background: #ccc;
    color: #333;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: block;
}
/* Transição de página */
body {
    opacity: 1;
    transition: opacity 0.8s ease;
}

body.fade-out {
    opacity: 0;
}
body.mostrar {
  opacity: 1;
}
/* ===== Convite Mobile ===== */
@media (max-width: 600px) {
    .convite {
        background-image: url('convite-mobile.png'); /* SMARTPHONE */
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;

        padding: 60px 25px 60px; /* espaço para a imagem */
        margin: 15px;
    }
	.frase { font-style: italic; margin-bottom: 25px; font-size: 17px;}
    .nomes {
        font-size: 67px;
		transform: translateX(-12px);
    }

    .data {
        font-size: 30px;
    }
	.texto { font-size: 17px; margin-bottom: 28px; }
	.hora { font-size: 19px ;font-style: italic; margin-bottom: 28px; }
	.local { font-size: 17px ;margin-bottom: 35px; }
	.pequeno { font-size: 17px; margin-bottom: 28px; }
	html, body {
	    margin: 0;
	    padding: 0;
	    height: 100%;
	}
}


